<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Commentary</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let income of incomes">
        <td>{{ income.id }}</td>
        <td>{{ income.amount }}</td>
        <td>{{ income.commentary }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
